# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Builds
build/
web-build/
**/generated_plugin_registrant.*

# Android/iOS
android/local.properties
android/key.properties
ios/Pods/

# IDE
.idea/
.vscode/

# Logs/outputs
*.log
run_log.txt

# Artifacts/binaries
*.apk
*.aab
*.ipa
*.zip

# Misc
pubspec.lock
